<link rel="stylesheet" href="/css/addStar.css">
<h1>Add Star</h1>
<div id="container">
    <div id="addContainer">

        <div>
            <span>Classification</span>
            <input type="text" id="starClassification">
        </div>
        <div>
            <span>Name</span>
            <input type="text" id="starName">
        </div>
        <div>
            <span>Image</span>
            <input type="text" id="starImage">
        </div>
    </div>
    <button onclick="addStar()">Add</button>
    <button onclick="cancel()">Cancel</button>
</div>
<script src="/scripts/addStar.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>