<link rel="stylesheet" href="/css/listOfStars.css">

<h1>List of stars</h1>

<a href="/stars/add">Add Star!</a>
<table class="container">
    <tr class="Header">
        <th class="data">Id</th>
        <th class="data">Name</th>
        <th class="data">Classification</th>
        <th class="data">Photo</th>
    </tr>
    {{#arrayOfStars}}
    <tr id="row-{{starid}}">
        <!--this will give unique id for every row.-->
        <td class="data">{{starid}}</td>
        <td class="data">{{name}}</td>
        <td class="data">{{classification}}</td>
        <td class="data">{{image}}</td>
        
        <td class="data">
            <a href="#" onclick="deleteStar({{starid}})">
                <img src="/icons/delete.png" alt="Delete">
            </a>
        </td>
        <td class="data">
            <a href="#" onclick="editStar({{starid}})">
                <img src="/icons/edit.png" alt="Edit">
            </a>
        </td>
    </tr>

    {{/arrayOfStars}}

</table>
<script src="scripts/listOfStars.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>